@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Spartan&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: overlay;

  background: rgb(31, 42, 58);
  background: linear-gradient(27deg, rgba(31, 42, 58, 1) 0%, rgba(31, 42, 58, 1) 33%, rgba(30, 58, 138, 1) 69%, rgba(136, 19, 55, 1) 100%);
  background-size: cover;
  /* height: 100%; */
  background-repeat: no-repeat;
  /* font-family: 'Playfair Display', serif; */
  font-family: 'Spartan', 'sans-serif'

}

.perspective {
  perspective: 100rem;
}

.rotation {
  transform: rotateY(-18deg)rotateX(10deg);
}

.rotationServiceCard {
  transform: rotateY(-20deg);
}

.table {
  border-spacing: 0 15px;
}

.table tr td:nth-child(n+5),
.table tr th:nth-child(n+5) {
  border-radius: 0 .625rem .625rem 0;
}

.table tr td:nth-child(1),
.table tr th:nth-child(1) {
  border-radius: .625rem 0 0 .625rem;
}

::-webkit-scrollbar {
  width: 13px;
}

::-webkit-scrollbar-thumb {
  background: #9ca3af40;
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: #9ca3af75;
}